<a href="https://colab.research.google.com/github/Kishordhavle/test-practice/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("todays's work")

todays's work

In [ ]:
print("i am beginner, 'new'")

i am beginner, 'new'

In [ ]:
print('i have money " more"')

i have money " more"

In [ ]:
'kishor' "3472"

'kishor3472'

In [ ]:
print(1,2,3,4,5,6,7,8,9,10)

1 2 3 4 5 6 7 8 9 10

In [ ]:
print(1,2,3,4,5,6,7,8,9,10,sep='-')

1-2-3-4-5-6-7-8-9-10

In [ ]:
print('hello')
print('world')

hello
world

In [ ]:
s='123'
len(s)

3

In [ ]:
dict={'a':1,'b':2}
len(dict)

2

In [ ]:
flaot = 2.1
len(flaot)

TypeError: object of type 'float' has no len()

In [ ]:
name = input ("enter your name")
age = input ("enter your age")

print('ur name is -', name)
print('ur age is -', age)

enter your namekd
enter your age67
ur name is - kd
ur age is - 67

In [ ]:
print ("....D mart shopping")

print ("....")

mango = 50
banana = 20
apple = 100
dal = 50

name = input ("enter name")
mob = input ("please mobile number")

print ("Your name is - ", name)
print ("My contact is - ", mob)

print ("hi", name, "welcome to D mart")

total = mango + banana + apple
total += dal*4
print ("total amount is - ", total)

....D mart shopping
....
enter nameh
please mobile number5
Your name is -  h
My contact is -  5
hi h welcome to D mart
total amount is -  370

In [ ]:

print ("........KD automobiles, Pune.........\n\n")

print ("welcome here , how may I assist you..!!\n")

name = input("please share your name - ")
bike_comp = input("please share your bike brand - ")
bike_model = input("please share your bike number ")
mobile = input("please share your mobile number")

print ("your name is - ", name)
print ("your bike brand is - ", bike_comp)
print ("your bike number is - ", bike_model)
print ("your mobile number is - ", mobile)

print (".....Menu.....\n","engine_work = 5000 \n","oil = 600\n","washing = 200\n","insurance = 300\n","fees = 1000\n")

engine_work = 5000
oil = 600
Washing = 200
insurance = 300
tax = 1000


print ("your name is - ", name)
print ("Hi", name, "welcome to KD automobiles","your bike is",bike_comp, "with model", bike_model, "and your mobile number is",mobile)


total = engine_work + oil + Washing + insurance + tax
print ("total amount is - ", total)

........KD automobiles, Pune.........


welcome here , how may I assist you..!!

please share your name - Kishor Dhavle
please share your bike brand - Hero
please share your bike number MH13 BW 1311
please share your mobile number9028703472
your name is -  Kishor Dhavle
your bike brand is -  Hero
your bike number is -  MH13 BW 1311
your mobile number is -  9028703472
.....Menu.....
 engine_work = 5000
 oil = 600
 washing = 200
 insurance = 300
 fees = 1000

your name is -  Kishor Dhavle
Hi Kishor Dhavle welcome to KD automobiles your bike is Hero with model MH13 BW 1311 and your mobile number is 9028703472
total amount is -  7100

In [ ]:
print (".....Travel booking shop....")

name = input("\n please share your name - ")
mobile = input("\n please share your mobile number")

print ("\n Hello your name is - ", name)
print ("\n with mobile number is - ", mobile)

#print ("\n Types of vehicle -\n\n 1st class\n 2nd class \n AC \n and non AC")

#Print("Menu \n pune to mumbai = 600 \n pune to banglore = 5000 \n pune to solapur = 800")

price = float(input("\n please confirm your no. of sheet - "))

print ("\n your total price is - ", price)
total = float (price*600, price*5000, price*800)
print ("\n total amount is - ", total)

.....Travel booking shop....

 please share your name - d

 please share your mobile numberd

 Hello your name is -  d

 with mobile number is -  d

 please confirm your no. of sheet - ac

ValueError: could not convert string to float: 'ac'

In [ ]:
t = (12,34,1,5,45,55)

sorted(t)

[1, 5, 12, 34, 45, 55]

In [ ]:
sorted(t, reverse = True)

[55, 45, 34, 12, 5, 1]